{% extends "covid/base.html" %}
{% block content %}
<h3>
   Delete Address?
</h3>
<h4>Are you sure you wish to delete address {{ object.formatted_address }}?</h4>
<form action='' method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
        <p>
            <a href="{{ view.get_success_url }}" class="btn btn-primary" value="Cancel">
                Cancel
            </a>
        </p>
        <p>
        <input class="btn btn-warning" type="submit" 
                                       value="Delete">
        </p>
</form>
{% endblock %}
